{% extends viewbaseLayout %}
{% block content %}
    {% set title = ez_content_name( content ) %}

    <article class='block-skills align-center'>

        <a href="{{ path( location ) }}" title="{{ title }}">

        {% if not ez_is_field_empty( content, "icon_fa" ) %}
            <span class="attribute-icon">
                {% set icon_fa_class = "fa fa-5x "~ez_field_value(content, 'icon_fa') %}

                <i class="{{ icon_fa_class }}"></i>
            </span>
        {% endif %}
        <h3>
            {{ title }}
        </h3>

        {% if not ez_is_field_empty( content, "content" ) %}
            <div class="attribute-short">
                {{ ez_render_field( content, "content" ) }}
            </div>
        {% endif %}
        </a>
    </article>


{% endblock %}