<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="unsupported-ie ie" lang="{{ app.request.locale }}"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ app.request.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ app.request.locale }}"><!--<![endif]-->
<head>
    {% set meta_tags = [] %}

    {% block meta %}{% include "ComtoCodeWebsiteBundle:global:page_head.html.twig" %}          {% endblock %}
    {% block css %} {% include "ComtoCodeWebsiteBundle:global:page_head_style.html.twig" %}    {% endblock %}
    {% block js %}  {% include "ComtoCodeWebsiteBundle:global:page_head_script.html.twig" %}   {% endblock %}

</head>
<body>
{% if location is defined and not location.isDraft %}
    {% set currentLocation=location %}
{% endif %}


<header id="main-header">
    {{ render_esi( controller( 'ComtoCodeWebsiteBundle:Layout:topMenu' ) ) }}
</header>


<section id="main">
    {% block content %}{% endblock %}
</secion>

<footer id="main-footer">
    {{ render_esi( controller( 'ComtoCodeWebsiteBundle:Layout:footer' ) ) }}
</footer>

<!-- Footer script area: START -->
{% block footer_js %}{% include 'ComtoCodeWebsiteBundle:global:page_footer_script.html.twig' %}{% endblock %}
<!-- Footer script area: END -->

</body>
</html>
